
.practicebuttons .rightdiv {
    background-color: rgba(255, 255, 255, 0.0);
    top: 60vh;
    height: 4vh;
    width: 12vw;
    position: absolute;
    margin: 0;
    left: 62%;
    border-bottom: 0.1vh solid black;
    border-color: black;
}

.practicebuttons .middiv {
    background-color: rgba(255, 255, 255, 0.0);
    top: 60vh;
    height: 4vh;
    width: 12vw;
    position: absolute;
    margin: 0;
    left: 42%;
    border-bottom: 0.1vh solid black;
    border-color: black;
}

.practicebuttons .leftdiv {
    background-color: rgba(255, 255, 255, 0.0);
    top: 60vh;
    height: 4vh;
    width: 12vw;
    position: absolute;
    margin: 0;
    left: 22%;
    border-bottom: 0.1vh solid black;
    border-color: black;
}
#status, #status1, #status2, #status3 {
    text-align: center;
}

#leftinputdiv, #middleinputdiv, #rightinputdiv, #rightestinputdiv {
    display: none;
}

#img1, #img2, #img3, #img4 {
    float: right;
    width: 10%;
    height: 70%;
    text-align: end;
    cursor: pointer;
}

.leftinput {
    font-size: 2vh;
    border-color: white;
    border-width: 0vw;
    position: absolute;
    width: 80%;
}

.middleinput {
    font-size: 2vh;
    border-color: white;
    border-width: 0vw;
    position: absolute;
    width: 80%;
}

.rightinput {
    font-size: 2vh;
    border-color: white;
    border-width: 0vw;
    position: absolute;
    width: 80%;
}

#insertbutton {
    cursor: pointer;
    position: absolute;
    top: 55vh;
    left: 20%;
    width: 15%;
}

#searchbutton {
    cursor: pointer;
    position: absolute;
    top: 55vh;
    left: 40%;
    width: 15%;
}

#removebutton {
    cursor: pointer;
    position: absolute;
    top: 55vh;
    left: 60%;
    width: 15%;
}

#calculationbox {
    top: 25vh;
    left: 55%;
    position: fixed;
    float:middle;
    height: 13.5vh;
    padding: 1vw;
    width: 30vw;
    margin-top: 5%;
    font-family: arial;
    font-size: 1.5vw;
}

#formulabox {
    top: 25vh;
    left: 15%;
    position: fixed;
    float:middle;
    height: 13.5vh;
    padding: 1vw;
    width: 30vw;
    margin-top: 5%;
    font-family: arial;
    font-size: 1.5vw;
}

.indices {
    float: left;
    margin-top: 2vh;
    width: 5.5vw;
    text-align: center;
    border: none;
    font-size: 2vw;
}

.valuerow {
    display: table;
    height: 1vh;
}

.indexrow {
    display: table;
    height: 1vh;
}

.thetable {
    display: inline-grid;
    position: relative;
    left: 10%;
    top: 4vh;
}

#question {
    font-size: 2vw;
    text-align: center;
    display: inline;
    margin-top: 3vh;
    float: left;
    width: 100%;
}

#thequestion {
    display: inline;
}

#tag {
    font-weight: bold;
    display: inline;
}

#valuelabel {
    margin-right: 2vw;
    float: left;
    font-size: 2vw;
}

#indexlabel {
    margin-right: 2vw;
    float: left;
    font-size: 2vw;
}

.values {
    float: left;
    margin-top: 2vh;
    font-size: 3vw;
}

input {
    width: 5vw;
    border-color: black;
    padding-left: 1vw;
    background-color: white;
}

#submitbutton {
    position: absolute;
    cursor: pointer;
    left: 20%;
    top: 49vh;
    width: 15%;
}

#restartbutton {
    position: absolute;
    cursor: pointer;
    left: 40%;
    top: 49vh;
    width: 15%;
}

#newbutton {
    position: absolute;
    cursor: pointer;
    left: 60%;
    top: 49vh;
    width: 15%;
}

#correct_box {
    width: 2vw;
    height: 2vw;
    background-color: #a4c652;
}

#incorrect_box {
    width: 2vw;
    height: 2vw;
    background-color: #96A0A3;
}

#exercisestatus {
    display: none;
    position: absolute;
    top: 57vh;
}
